*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: 500%;
    overflow-x: hidden;
}

/* navigation panel */

#navigation{
    height: 5vw;
    width: 90vw;
    background-color: transparent;
    color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
    z-index: 99;
}


#navigation a{
    margin-right: 2vw;
    font-size: 1vw;
    color: black;
    font-weight: 500;
}

.logo img{
    height: 100px;
    width: 100px;
}

/* loader section */

#loader{
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: anim2 2s cubic-bezier(0.19, 1, 0.22, 1) 2.5s both;
}

#wrapper{
    height: 100px;
    width: 500px;
    overflow: hidden;
}

 #wrapper .elem{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem:nth-child(1){
    animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
.elem:nth-child(2){
    animation: anim 1s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}  

@keyframes anim {
    to{
        margin-top: -100px;
    }
}

@keyframes anim2 {
    to{
        transform: translateY(-100%);
    }
}


/* page1  section */

.page1{
    background-color: #b0a695;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 5vw;
    padding-left: 5vw;
}

.page1 .para1{
    font-size: 0.8vw;
    
}

.page1 .para2{
    font-size: 1.5vw;
}

.headpara::-webkit-scrollbar{
    display: none;
}


.page1 .headpara{
    width: 100vw;
    height: 60%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.headpara p{
    font-size: 22vw;
    color: white;
    white-space: nowrap;
    font-stretch: 200%;
    font-family: headingNowVar;
}

.page2{
    height: 100vh;
    width: 100vw;
    background-color: #aba190;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.page2 h1{
    padding: 5vw 0vw 0vw 5vw ;
    font-size: 5vw;
    color: white;
    font-weight: 600;
    font-stretch: 270%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#storycontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 5vw;
    padding-left: 5vw;
    box-sizing: border-box;
}

#storyinfo{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 360px;
}

#storycontainer img{
    height: 50vh;
    width: 25vw;
    min-height: 470px;
    min-width: 500px;
    border-radius: 50px;
}


.page3{
    height: 100vh;
    width: 100vw;
    background-color: #a09585;
    overflow: hidden;
}

.page3 h1{
    font-size: 4.5vw;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.scroller{
    margin: auto;
    width: 90%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.pg3part2{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.pg3part2 h1{
    padding: 3vw 5vw 5vw 0vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.pg3part1 h1{
    padding: 5vw 0vw 3vw 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.front{
    display: inline-block;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.back{
    display: inline-block;
    animation-name: scroll;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.front img{
    height: 100px;
    width: auto;
    display: inline-block;
    margin-right: 30px;
}

.back img{
    height: 100px;
    width: auto;
    display: inline-block;
    margin-right: 30px;
}


@keyframes scroll {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}


.page4{
    height: auto;
    width: 100vw;
    background-color: #897d6f;
    overflow: hidden;
}

.page4 h1{
    color: white;
    padding: 5vw 0vw 5vw 5vw;
    font-size: 5vw;

}


.cards-container{
    height: 90%;
    width: 90%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap
}


.card{
    margin-top: 50px;
    height: 400px;
    max-width: 400px;
    border-radius: 30px;
    background-color: #776b5d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
}

.card img{
    height: 280px;
    width: auto;
    max-width: 350px;
    padding: 10px;
    border-radius: 30px;
    object-fit: cover;
}

.cardinfo{
    height: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardinfo a{
    color: white;
    padding: 10px 0px;
}


@media (max-width: 1200px) {

    .page1 .para1{
        font-size: 2vw;
    }
    .page1 .para2{
        font-size: 4vw;
    }

    #storycontainer{
        gap: 5vw
    }

    #storycontainer #storyinfo{
        height: 35vw;
    }

    #storyinfo p{
        height: 15vw;
    }

    .page3 img{
        height: 20vw;
    }

    .page3 h1{
        font-size: 6vw;
    }
    .pg3part1{
        margin-bottom: 100px;
    }
}


@media (max-width: 700px) {
    #navigation{
        margin-top: 2vh;
        height: 5vw;
        width: 90vw;
    }
    
    #navigation a{
        margin-right: 2vw;
        margin-left: 2vw;
        font-size: 2.5vw;
        color: black;
        font-weight: 500;
    }
    
    .page1 .para1{
        font-size: 3vw;
    }
    
    .page1 .para2{
        font-size: 4.5vw;
    }

    .page1 .headpara{
       height: 35%;
       
    }
    
    .headpara p{
        font-size: 70vw;
        color: white;
        white-space: nowrap;
        font-stretch: 270%;
    }

    #storycontainer{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        padding: 10vw 0vw;
    }
    
    #storyinfo{
        min-height: 30%;
        min-width: 90%;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow-y: hidden;
    }
    
    #storyinfo p{
        height: auto;
    }
    #storycontainer img{
        height: 45vh;
        width: 25vw;
        min-height: 45%;
        min-width: 90%;
        
    }

    .page2{
        box-sizing: border-box;
        padding: 10px;
        padding-bottom: 20px;
    }
    .pg3part2 {
        margin-top: 50px;
        box-sizing: border-box;
    }
    .pg3part1 {
        margin-top: 50px;
        box-sizing: border-box;
    }


    .page2 h1 {
        padding: 5vw 0vw 0vw 3vw;
        font-size: 12vw;
    }


    .page3 h1 {
        font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        font-size: 7vw;
        font-weight: 900;
        font-stretch: 270%;
        color: white;
        padding: 10vw 10vw 10vw 5vw;
    }

    .back img{
        height: 120px;
        margin-right: 20px;
    }
    .front img{
        height: 120px;
        margin-right: 20px;
    }

    .page4 h1{
        font-size: 10vw;
    }

    .page4 .card {
        height: 430px;
    }

   .card{
    /* overflow: hidden; */
    box-sizing: border-box;
    padding: 20px;
   }

   .card a{
    margin-bottom: 10px;
   }
}